.nav-link {
  color: black;
}

.arrow {
  width: 140px;
  height: 100px;
}

#stars {
  width: 120px;
  height: 80px;
}

.logos {
  height: 25px;
  width: 25px;
  margin: 5px;
}

img {
  height: 350px;
  width: 500px;
  border-radius: 3px;
}

h3 {
  margin: 20px 200px;
}

#locations {
  text-align: end;
}

#reviews {
  width: 100%;
  height: 5%;
}

header {
  -webkit-box-shadow: 0 5px 3px -3px #777;
  -moz-box-shadow: 0 5px 3px -3px #777;
  box-shadow: 0 5px 3px -3px #777;
}

#logo {
  height: 32px;
  width: 81px;
}

#all-reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

/* styling for smartphone */
@media screen and (max-width: 415px) {
  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 16px;
  }

  img {
    height: 175px;
    width: 250px;
    border-radius: 3px;
  }

  #sneaks {
    margin: auto;
    align-items: center;
  }

  #workboots {
    margin: auto;
    align-items: center;
  }

  #booties {
    margin: auto;
    align-items: center;
  }

  #all-reviews {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
  }

  .lead {
    text-align: center;
  }

  h1 {
    text-align: center;
  }
}

/* styling for Galaxy Fold  */

@media screen and (max-width: 281px) {
  h3 {
    font-size: 16px;
  }

  .nav-link {
    font-size: 14px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 16px;
  }

  img {
    height: 140px;
    width: 200px;
    border-radius: 3px;
  }

  #sneaks {
    margin: auto;
    align-items: center;
  }

  #workboots {
    margin: auto;
    align-items: center;
  }

  #booties {
    margin: auto;
    align-items: center;
  }

  #all-reviews {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
  }

  .lead {
    text-align: center;
  }

  h1 {
    text-align: center;
  }
}
