#houston-map {
  height: 400px;

  width: 40%;
}
#atlanta-map {
  height: 400px;

  width: 40%;
}
#tampa-map {
  height: 400px;

  width: 40%;
}

.nav-link {
  color: black;
}

input[type="text"] {
  margin-right: 5px;
}

p {
  margin-top: 10px;
}

button {
  border-radius: 4px;
}

h5 {
  margin: 20px;
}

header {
  -webkit-box-shadow: 0 5px 3px -3px #777;
  -moz-box-shadow: 0 5px 3px -3px #777;
  box-shadow: 0 5px 3px -3px #777;
}

#logo {
  height: 32px;
  width: 81px;
}
