#houston-map {
  height: 400px;
  width: 100%;
}

.store-locator {
  margin: auto 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#atlanta-map {
  height: 400px;
  width: 100%;
}

#tampa-map {
  height: 400px;
  width: 100%;
}

.nav-link {
  color: #2685f0;
}

span {
  color: #132880;
}

input[type="text"] {
  margin-right: 5px;
  outline: #132880;
}

p {
  margin-top: 10px;
}

button {
  border-radius: 4px;
}

h5 {
  margin: 20px;
  color: #132880;
}

h4 {
  margin: 30px;
  color: #132880;
}

h2 {
  margin: 30px;
  color: #132880;
}

header {
  -webkit-box-shadow: 0 5px 3px -3px #132880;
  -moz-box-shadow: 0 5px 3px -3px #132880;
  box-shadow: 0 5px 3px -3px #132880;
}

#logo {
  height: 32px;
  width: 81px;
}

.map-and-search-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

/* styling for smartphone */
@media screen and (max-width: 415px) {
  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
    margin-top: 10px;
  }

  h5 {
    font-size: 16px;
  }

  .map-and-search-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
  }
}

/* styling for Galaxy Fold */
@media screen and (max-width: 281px) {
  h3 {
    font-size: 16px;
  }

  .nav-link {
    font-size: 14px;
  }

  button {
    margin: 10px;
  }
}
