.nav-link {
  color: #2685f0;
}

span {
  color: #132880;
}

h2 {
  color: #132880;
}

#collectables-img {
  margin-top: 57px;
  margin-bottom: 57px;
}
#high-heels {
  margin-top: 29px;
}

#order-form {
  border: 1px solid rgb(19, 40, 128, 0.35);
  border-radius: 2px;
  padding: 0 100px;
  margin: 30px 150px 30px 150px;
  color: #050a30;
}

.card {
  margin: 10px;
  -webkit-box-shadow: 0 10px 6px -6px #65acf0;
  -moz-box-shadow: 0 10px 6px -6px #65acf0;
  box-shadow: 0 10px 6px -6px #65acf0;
  border: 1px solid rgb(19, 40, 128, 0.35);
  color: #050a30;
}

#expdate {
  text-align: center;
}

header {
  -webkit-box-shadow: 0 5px 3px -3px #132880;
  -moz-box-shadow: 0 5px 3px -3px #132880;
  box-shadow: 0 5px 3px -3px #132880;
}

#logo {
  height: 32px;
  width: 81px;
}

/* styling for smartphone */
@media screen and (max-width: 415px) {
  h2 {
    font-size: 20px;
  }
  #order-form {
    width: 90%;
    border: 1px black solid;
    border-radius: 2px;
    padding: 8px;
    margin: auto;
    margin-bottom: 5px;
  }
}

/* styling for Galaxy Fold */
@media screen and (max-width: 281px) {
  h2 {
    font-size: 18px;
  }

  .nav-link {
    font-size: 14px;
  }
}
