.nav-link {
  color: black;
}

#collectables-img {
  margin-top: 57px;
  margin-bottom: 57px;
}
#high-heels {
  margin-top: 29px;
}

#order-form {
  border: 1px black solid;
  border-radius: 2px;
  padding: 0 100px;
  margin: 30px 150px 30px 150px;
}

.card {
  margin: 10px;
}

#expdate {
  text-align: center;
}
