.nav-link {
  color: #2685f0;
}

span {
  color: #132880;
}

.card-img-top {
  border-radius: 100%;
  padding: 5px;
}

.card {
  height: 410px;
  margin: 10px;
  -webkit-box-shadow: 0 10px 6px -6px #65acf0;
  -moz-box-shadow: 0 10px 6px -6px #65acf0;
  box-shadow: 0 10px 6px -6px #65acf0;
  border: 1px solid rgb(19, 40, 128, 0.35);
  color: #050a30;
}

#about-me-box {
  height: 64px;
  margin: auto;
}

button {
  margin: 10px;
}

header {
  -webkit-box-shadow: 0 5px 3px -3px #132880;
  -moz-box-shadow: 0 5px 3px -3px #132880;
  box-shadow: 0 5px 3px -3px #132880;
}

#logo {
  height: 32px;
  width: 81px;
}

h3 {
  color: #132880;
}

/* styling for smartphone */
@media screen and (max-width: 415px) {
  h3 {
    font-size: 20px;
  }
}

/* styling for Galaxy Fold */
@media screen and (max-width: 281px) {
  h3 {
    font-size: 16px;
  }

  .nav-link {
    font-size: 14px;
  }
}
